/* global.css */
:root {
  --md-sys-color-background: #ffffff;
  --md-sys-color-on-background: #000000;
  /* More global variables */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
